{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5 col-md-12">
        <div class="col-sm-2 offset-4">
            <form method="post">
                <input type="submit" name="draw" value="Draw {{number}} cards">
                <input type="submit" name="clear" value="Shuffle">
                {{ include('card/flash-message.html.twig') }}
            </form>
        </div>
        <div class="col-sm-5 ">
            {% for card in cards %}
            <img src='{{ asset('img/cards_img/' ~ card ~ '.svg') }}' alt="card" width="90">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
