{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5 col-sm-12">
        <h1>Redovisning av kursmoment i kursen mvc</h1>
    </div>
</div>

<div class="container">
    <div class="row mt-5 col-sm-12">
        {{ include('report/kmom01.markdown.twig')|markdown_to_html }}
        {{ include('report/kmom02.markdown.twig')|markdown_to_html }}
        {{ include('report/kmom03.markdown.twig')|markdown_to_html }}
        {{ include('report/kmom04.markdown.twig')|markdown_to_html }}
    </div>

</div>

{% endblock %}
