{% extends "base-project.html.twig" %}

{% block title %}Project{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4 col-lg-12">
        <a href="{{ url("project") }}">Tillbaka till projektet</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4 col-lg-12">
        <div class="col-sm-1">
            <img class="img-fluid" src="../img/project/logo3.png" alt="bild">
        </div>
        <div class="col-sm-9">
            {{ include('project/text/about.markdown.twig')|markdown_to_html }}
        </div>




        
    </div>
</div>

{% endblock %}
