{% extends "base-project.html.twig" %}

{% block title %}Project{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4 col-lg-12">
        <a href="{{ url("about-project") }}">about</a>
        project
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-4 col-lg-5">
        {{ render_chart(chartMothers) }}
        {{ render_chart(chartChildren) }}
        {{ render_chart(chartChildrenPer1000) }}
    </div>
    
</div>

{% endblock %}
