<h3><u>kmom03</u></h3>


**Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?**<br>
Innan trodde jag att sådana saker som t.ex. flödesdiagram eller pseudokod var slöseri med tid. I detta kmom kunde jag ta reda på att det verkligen hjälper till att förstå vad man ska göra. Ibland, när man t.ex. kodar ett litet spel som jag gjorde, känns det att det är uppenbart vad som ska göras. Men flödesdiagram eller pseudokod underlättar och ordnar processen för att man ser steg för steg hur man tänker göra.


**Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?**<br>
Jag är nöjd med mitt spel eftersom det fungerar som jag ville att det skulle fungera. Det finns alltid förbättringspotential. Jag fixade inte alla fel som lint hittade. Jag fick också några fel om 'missing class import via use statement' så jag ingorerade det med `@SuppressWarnings(PHPMD.MissingImport)`. Hoppas att det är ok. Det känns också att i onödan började jag med phpstan på level 9. Jag fick många fel att typ av retur eller variabler inte var angiven och jag tror att något specifierade jag fel och det orsakade ytterligare fel. Då bytte jag phpstan till level 6 och lämnade 2 eller 3 fel som jag inte kunde fixa. 


**Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?**<br>
Jag fortsätter nu med kursen efter ett uppehåll på flera månader, så det svåraste var att utveckla den gamla koden. Det var bra att det inte var jätte mycket kod. Nu när jag förstår lite mer OO-programmeringen blir jag varm i kläderna så här långt. Jag byggde på mina gamla klasser lite för att anpassa dem till spelet och jag lyckades inte förstöra något från tidigare kmom. 


**Min TIL för detta kmom:**<br>
Att problemlösningstekniker inte är bara för dummies :) 

