<h3><u>kmom05</u></h3>

**Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?**<br>
Det gick mycket smidigt att jobba igenom övningen. Inga konstigheter, inga fel alls. Jag var lite förvånad över hur snabbt och lätt det var att skifta mellan SQLite och MariaDB och MariaDB på studentservern. Varje gång, under genomgången, när Mikael kollade upp om allting fungerade på studentservern hade jag en känsla att det inte skulle fungera. 


**Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet? Gick det bra att jobba med ORM i CRUD eller vad anser du om det?**<br>
Det gick smidigt med uppgiften också. Jag fastnade ett tag i början bara när jag försökte skapa CREATE. Jag kunde inte lägga till någonting i databasen. Efter lite felsökning visade det sig att jag hade `methods={"POST"}` i min create-process route men jag glömt lägga till `methods={"GET"}` i min form-route. Efter detta hade jag inga bekymmer alls. 

Alla bilder finns i `public/img/books` mappen. Jag kopierade dem från en onlinebokhandel. Jag kunde inte hitta deras copyrights så jag riskerade att kopiera dem för att göra en fin inlämning :)


**Berätta om du gjorde (delar av) extrauppgiften med användare och login.**<br>
Jag har inte gjort några extra uppgifter.


**Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?**<br>
Om jag ska jämföra ORM med vad vi gjorde i t.ex Databas kursen så känns det mycket lättare och enklare än att skriva långa sql-satser. Å andra sidan det är ju bara en tabell med 4 kolumner och i Databas kursen jobbade vi med större databas och många relationer mellan entiteter. Hur som helst känns det att ORM underlättar arbete med databaser, särskilt om man är van med objektorienterad programmering.


**Vilken är din TIL för detta kmom?**<br>
Att man inte behöver kunna mycket om databaser för att arbeta med dem.