<h3><u>kmom01</u></h3>

Objektorienterad programmering är en programmeringsmetod i vilken ett program innehåller ett viss antal objekt som interagerar med varandra. Jag har viss erfarenhet av objektorientering från tidigare kurser som objektorienterad Python och JavaScript.

**Klasser och objekt**<br>
För att skapa en klass behöver man:<br>
Definiera strukturen genom att använda "class" och benämna klassen. Sedan wrappar man allt som klassen ska innehålla dvs. properties (variabler) och metoder (funktioner). Utifrån en klass skapar man objekt. En klass är en mall för objekt som skapas från den.

**Kodstrukturen i uppgiften report**<br>
Kodstrukturen i report-uppgiften känns logisk. Jag har en controller med ReportController klass som innehåller alla routes. Varje sida renderas med en twig template. Alla templates är baserade på base template och jag skriver över det som behöver ändras. Texter är skrivna i markdown och inkluderas med `include('<file>')|markdown_to_html`

**"PHP The Right Way"**<br>
När det gäller artikeln "PHP The Right Way" fokuserade jag mest på de delar som handlar om Symfony kod-struktur, klasser och objekt i PHP och namespaces. Dessa ämnen var direkt relaterade till detta kmom därför läste jag dem lite mer noggrant.

Något som inte berörde kmom men som var mycket intressant för mig var delen om säkerhet. Jag skulle vilja lära mig mer om det en dag.

**Min TIL för detta kmom:**<br>
Grunderna i Symfony.<br>
Att det finns unit tester för PHP. Hittills har jag bara kopplat dem med Python.
